body{
    color: BLACK;
    font: bold;
    font-size: 1.5rem;
    text-align: center;
}
.trans{
  
    width: 200px;
    height: 200px;
    background:linear-gradient( green 50%, blue 50%);
    /*transform: rotate(50deg) ;
    transition-property: background-color;
   transition-duration: 1s;
   transition-timing-function: ease-in;
  transition-delay: 1s;*/
border-radius: 100%;
  animation-name: boll;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
 /* animation-delay: 3s;*/
}
@keyframes boll{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(1200px);
  }
}
p{
  padding-top: 5rem;
}

.trans:hover{
    background: yellow;
}